<mat-card class="lo-w-30 lo-center lo-mtop-10">
    <mat-card-header class="lo-txt-center">
        <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>
    <mat-card-content class="lo-mtop-10">
        <form [formGroup]="userRegistrationForm" (submit)="registerUser()">
            <mat-form-field appearance="outline" class="lo-w-100"
                [class]="userRegistrationForm.controls['userName'].touched && userRegistrationForm.controls['userName'].hasError('pattern') ? 'lo-mbottom-10' : 'lo-mbottom-1'">
                <mat-label>Nome de usuário</mat-label>
                <input type="text" formControlName="userName" matInput placeholder="Digite o seu nome de usuário">
                <mat-icon matSuffix>user</mat-icon>
                @if (userRegistrationForm.controls['userName'].hasError('required')) {
                <mat-error>Informe o nome de usuário</mat-error>
                }
                @if (userRegistrationForm.controls['userName'].hasError('pattern')) {
                <mat-error>{{ messagePatternErrorUserName }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline" class="lo-w-100 lo-mtop-2"
                [class]="userRegistrationForm.controls['email'].touched && userRegistrationForm.controls['email'].hasError('pattern') ? 'lo-mbottom-6' : 'lo-mbottom-1'">
                <mat-label>E-mail</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Digite o seu e-mail">
                <mat-icon matSuffix>mail</mat-icon>
                @if (userRegistrationForm.controls['email'].hasError('required')) {
                <mat-error>Informe o seu e-mail</mat-error>
                }
                @if (userRegistrationForm.controls['email'].dirty &&
                userRegistrationForm.controls['email'].hasError('pattern')) {
                <mat-error>{{ messagePatternErrorEmail }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline" class="lo-w-100 lo-mtop-2 lo-mbottom-1">
                <mat-label>Senha</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
                    placeholder="Digite a sua senha">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                @if (userRegistrationForm.controls['password'].hasError('required')) {
                <mat-error>Informe a sua senha</mat-error>
                }
                @if (userRegistrationForm.controls['password'].hasError('pattern')) {
                <mat-error>{{ messagePatternErrorPassword }}</mat-error>
                }
            </mat-form-field>
            <div class="lo-flex lo-justify-content-end lo-gap-8 lo-mtop-1">
                <button mat-flat-button color="default" type="button" (click)="cancel()">Cancelar</button>
                <button mat-flat-button color="primary" type="submit">Confirmar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>