<div class="lo-w-30 lo-center lo-mtop-5">
    <nz-card [nzTitle]="userRegistrationCardTitleTemplate">
        <ng-template #userRegistrationCardTitleTemplate>
            <div class="lo-txt-center">
                <h2 nz-typography>Cadastre-se</h2>
            </div>
        </ng-template>
        <form nz-form [formGroup]="userRegistrationForm" (ngSubmit)="register()">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="userNameErrorTemplate">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" placeholder="Nome de usuário" />
                    </nz-input-group>
                </nz-form-control>
                <ng-template #userNameErrorTemplate let-control>
                    @if (control.errors?.['required']) {
                    Informe o nome de usuário.
                    }
                    @if (control.errors?.['pattern']) {
                    Nome de usuário inválido. Use de 3 a 30 caracteres, sem espaços e sem caracteres especiais, apenas .
                    _ -, mas sem começar/terminar com eles e nem repeti-los em sequência.
                    }
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="emailErrorTemplate">
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="email" nz-input formControlName="email" placeholder="E-mail" />
                    </nz-input-group>
                </nz-form-control>
                <ng-template #emailErrorTemplate let-control>
                    @if (control.errors?.['required']) {
                    Informe o e-mail.
                    }
                    @if (control.errors?.['pattern']) {
                    E-mail inválido.
                    }
                    @if (!control.errors?.['pattern'] && control.errors?.['maxlength']) {
                    O e-mail não pode ultrapassar 255 caracteres.
                    }
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzErrorTip]="passwordErrorTemplate">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="inputPasswordSuffixTemplate">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                            placeholder="Senha" />
                    </nz-input-group>
                    <ng-template #inputPasswordSuffixTemplate>
                        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible" class="lo-clickable"></span>
                    </ng-template>
                </nz-form-control>
                <ng-template #passwordErrorTemplate let-control>
                    @if (control.errors?.['required']) {
                    Informe a senha.
                    }
                    @if (control.errors?.['minlength'] || control.errors?.['maxlength']) {
                    A senha deve ter entre {{ passwordMinLength }} e {{ passwordMaxLength }} caracteres.
                    }
                </ng-template>
            </nz-form-item>
            <nz-space class="lo-w-100" nz-flex nzJustify="flex-end">
                <button nz-button [nzType]="'default'" *nzSpaceItem type="button" (click)="goToLogin()">
                    Cancelar
                </button>
                <button nz-button [nzType]="'primary'" *nzSpaceItem type="submit">
                    Confirmar
                </button>
            </nz-space>
        </form>
    </nz-card>
</div>