/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lo-flex { display: flex; }
.lo-justify-content-end { justify-content: end; }
.lo-justify-content-start { justify-content: start; }
.lo-justify-content-center { justify-content: center; }

.lo-gap-4 { gap: 4px; }
.lo-gap-8 { gap: 8px; }
.lo-gap-12 { gap: 12px; }
.lo-gap-16 { gap: 16px; }
.lo-gap-20 { gap: 20px; }
.lo-gap-24 { gap: 24px; }
.lo-gap-28 { gap: 28px; }
.lo-gap-32 { gap: 32px; }
.lo-gap-36 { gap: 36px; }
.lo-gap-40 { gap: 40px; }

.lo-txt-end { text-align: end; }
.lo-txt-start { text-align: start; }
.lo-txt-center { text-align: center; }

.lo-center { margin: 0 auto; }

.lo-w-5 { width: 5%; }
.lo-w-10 { width: 10%; }
.lo-w-15 { width: 15%; }
.lo-w-20 { width: 20%; }
.lo-w-25 { width: 25%; }
.lo-w-30 { width: 30%; }
.lo-w-35 { width: 35%; }
.lo-w-40 { width: 40%; }
.lo-w-45 { width: 45%; }
.lo-w-50 { width: 50%; }
.lo-w-55 { width: 55%; }
.lo-w-60 { width: 60%; }
.lo-w-65 { width: 65%; }
.lo-w-70 { width: 70%; }
.lo-w-75 { width: 75%; }
.lo-w-80 { width: 80%; }
.lo-w-85 { width: 85%; }
.lo-w-90 { width: 90%; }
.lo-w-95 { width: 95%; }
.lo-w-100 { width: 100%; }

.lo-ptop-1 { padding-top: 1.1rem; }
.lo-ptop-2 { padding-top: 1.2rem; }
.lo-ptop-3 { padding-top: 1.3rem; }
.lo-ptop-4 { padding-top: 1.4rem; }
.lo-ptop-5 { padding-top: 1.5rem; }
.lo-ptop-6 { padding-top: 1.6rem; }
.lo-ptop-7 { padding-top: 1.7rem; }
.lo-ptop-8 { padding-top: 1.8rem; }
.lo-ptop-9 { padding-top: 1.9rem; }
.lo-ptop-10 { padding-top: 2.0rem; }

.lo-mtop-1 { margin-top: 1.1rem; }
.lo-mtop-2 { margin-top: 1.2rem; }
.lo-mtop-3 { margin-top: 1.3rem; }
.lo-mtop-4 { margin-top: 1.4rem; }
.lo-mtop-5 { margin-top: 1.5rem; }
.lo-mtop-6 { margin-top: 1.6rem; }
.lo-mtop-7 { margin-top: 1.7rem; }
.lo-mtop-8 { margin-top: 1.8rem; }
.lo-mtop-9 { margin-top: 1.9rem; }
.lo-mtop-10 { margin-top: 2.0rem; }

.message-warn { --mdc-snackbar-container-color: #FFF9C4; --mdc-snackbar-supporting-text-color: #F57F17; text-align: center; }
.message-error { --mdc-snackbar-container-color: #FFCDD2; --mdc-snackbar-supporting-text-color: #B71C1C; text-align: center; }
.message-success { --mdc-snackbar-container-color: #C8E6C9; --mdc-snackbar-supporting-text-color: #1B5E20; text-align: center; }
