/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lo-center { margin: 0 auto; }
.lo-txt-center { text-align: center; }
.lo-txt-left { text-align: left; }
.lo-txt-right { text-align: right; }

.lo-flex { display: flex; }

.lo-gap-4 { gap: 4px; }
.lo-gap-8 { gap: 8px; }
.lo-gap-12 { gap: 12px; }
.lo-gap-16 { gap: 16px; }
.lo-gap-20 { gap: 20px; }

.lo-jc-start { justify-content: start; }
.lo-jc-center { justify-content: center; }
.lo-jc-end { justify-content: end; }

.lo-w-5 { width: 5%; }
.lo-w-10 { width: 10%; }
.lo-w-15 { width: 15%; }
.lo-w-20 { width: 20%; }
.lo-w-25 { width: 25%; }
.lo-w-30 { width: 30%; }
.lo-w-35 { width: 35%; }
.lo-w-40 { width: 40%; }
.lo-w-45 { width: 45%; }
.lo-w-50 { width: 50%; }
.lo-w-55 { width: 55%; }
.lo-w-60 { width: 60%; }
.lo-w-65 { width: 65%; }
.lo-w-70 { width: 70%; }
.lo-w-75 { width: 75%; }
.lo-w-80 { width: 80%; }
.lo-w-85 { width: 85%; }
.lo-w-90 { width: 90%; }
.lo-w-95 { width: 95%; }
.lo-w-100 { width: 100%; }

.lo-ptop-1 { padding-top: 1.1rem; }
.lo-ptop-2 { padding-top: 1.2rem; }
.lo-ptop-3 { padding-top: 1.3rem; }
.lo-ptop-4 { padding-top: 1.4rem; }
.lo-ptop-5 { padding-top: 1.5rem; }
.lo-ptop-6 { padding-top: 1.6rem; }
.lo-ptop-7 { padding-top: 1.7rem; }
.lo-ptop-8 { padding-top: 1.8rem; }
.lo-ptop-9 { padding-top: 1.9rem; }
.lo-ptop-10 { padding-top: 2rem; }
